header h1 {
    color: rgb(0, 0, 0);
    padding: 10px 350px;
    text-align: center;
}
header img {
    float: right;
}
header img:hover{
    float: right;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
header nav ul li{
    list-style: none;
}
header nav ul li a:hover{
    text-decoration: underline;
}
.texto {
    font-family: Arial;
}
a {
    text-decoration: none;
    font-family: Arial;
}
#wrap{
    width: 960px;
    margin: auto;
}
#sociais{
    margin-left: 6cm;
    margin-top: 1cm;
}
#fotos {
    margin-top: 1cm;
    margin-bottom: 1cm;
}
#gato1 {
    float: right;
}
#gato2 {
    float: left;
}
#gif {
    margin-left: 6.5cm;
    margin-top: 1cm;
}
#gif:hover {
    border: 2px solid darkorchid;
    border-radius: 4px;
    padding: 2px;
}
#gato1:hover {
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
}
#gato2:hover {
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
}
#icon {
    max-width: 32px 32px;
}