body{
background-color: rgb(249, 223,	229);
}
.box{
  margin: 30px;
  width:120px;
  height:110px;
  background-color: blue;
  position: relative;
  margin-right: 5px;
  margin-left: auto;
  animation-name: quadradinho;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
  color: aliceblue;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
@keyframes quadradinho {
  0%   {background-color: blue; right:0px;}
  50%  {background-color: yellow; right:200px;}
  100% {background-color: violet; right:0px;}
}

.btn {
  background-color:pink;
  height: 70px;
  width: 500px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-left: 100px;
  border: 2px solid gray;
  display: inline-block;
}

h2 {
  color: rgb(255, 121, 143);
  background-color: transparent;
  width: 500px;
  height: 40px;
  font-size: 40px;
  font-family:'Raleway';
  padding: 10px;
    
}
h1 {
  text-align: center;
  font-family: "rubik" sans-serif;
  font-size: 50px;
  border: 2px;
  border-color: black;
  border-style: dashed;
}



a:link{
    color:black;
}
a:hover {
   color: blue;
  }
  .span {
    font-family:'Montserrat', sans-serif; 
    color: white;
    font-size: 15px;
  }
  .dropdown {
    background-color: transparent;
    box-shadow: 3px rgb(243, 177, 188);
    position: relative;
    width: 100px;
    height: 20px;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    margin-left: 115px;
    text-align: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:transparent;
    min-width: 40px;
    padding: 10px 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
   
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    align-content: center;
  }
 
 
  .texto1 {
    position: relative;
    float: left;
    color: gray;
    text-align: left;
    width: 40%;
    height: 300px;
    padding: 20px;
    margin-left: 10px;
    margin-right: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    
  }
  .texto2 {
    position: relative;
    float: right;
    color: gray;
    text-align: right;
    width: 40%;
    height: 300px;
    padding: 20px;
    margin-right: 10px;
    margin-left: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    
  }
  

  .image{
    height: 300px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    

  }
  .items {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 15px;

  }
  
  .image2{
      float: right;
      border: 20px solid violet;
      height: 300px;
      width: 500px;
  }
  .Melhor_Parte {
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: rgb(253, 166, 180);
    
  }