body{
    font-family:Courier;
}
#wrap{
    width: 960px;
    margin: auto;
    background: #2d417a;
}
header h1{
    padding: 10px 10px 0px;
    color: white;
    font-size:80px;
}
header nav ul{
    list-style: none;
    padding-left: 0px 10px;
     
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    margin-right: 10px;
    color: white;
    text-decoration-line: none;
}
header nav ul li a:hover{
    text-decoration: underline;
}
#centre {
    float:left;
    margin: 0px 10px 0px 10px;
    width: 720px;
    background: #604b70;
    font-size:30px;
}
section{
    margin: auto 10px;
}
.texto{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein{
    from {
        margin-left: 100%;
        width: 300%
        
    } to {
        margin-left: 0%;
        width: 100%;
        font-size:30px;
    }
}
section p {
    color: white;
}
section ul a {
    color: white;
    text-decoration: none;
    list-style:none;
}
a:hover{
    text-decoration:underline;
}
footer{
    clear: both;
}
#sidebar{
    float: right;
    width:220px;
}
#sidebar aside img{
    width:180px;
    margin:0 25px;
}
#sidebar aside img:hover{
    border: 2px solid white;
    border-radius:3px;
    padding: 5px;
}
